@import 'variables';

#introduction {
	text-align: center;
}
#app-about {
	padding: 24px;
	overflow: auto;
}
#about h1,
#conclusion h1 {
	text-align: center;
}
.chapter-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-weight: bold;
	letter-spacing: 4px;
}

[id^="chapter-"] {
	& > header,
	.chapter-title,
	address > dl dt,
	h1 {
		color: #fff;
	}
	address > dl dd > a {
		color: #fff !important;
	}
}
#chapter-1 {
	& > header { background-color: #FF5C65; }
	#in-this-chapter * { color: #FF5C65; }
}
#chapter-2 {
	& > header { background-color: #3EA777; }
	#in-this-chapter * { color: #3EA777; }
}
#chapter-3 {
	& > header { background-color: #3A5B5E; }
	#in-this-chapter * { color: #3A5B5E; }
}
#chapter-4 {
	& > header { background-color: #52979D; }
	#in-this-chapter * { color: #52979D; }
}
#chapter-5 {
	& > header { background-color: #FFA6AA; }
	#in-this-chapter * { color: #FFA6AA; }
}
#chapter-6 {
	& > header { background-color: #FFA443; }
	#in-this-chapter * { color: #FFA443; }
}
#chapter-7 {
	& > header { background-color: #2C7453; }
	#in-this-chapter * { color: #2C7453; }
}
#chapter-8 {
	& > header { background-color: #04494F; }
	#in-this-chapter * { color: #04494F; }
}
#chapter-9 {
	& > header { background-color: #77C2A1; }
	#in-this-chapter * { color: #77C2A1; }
}
#chapter-10 {
	& > header { background-color: #FFA257; }
	#in-this-chapter * { color: #FFA257; }
}
#chapter-11 {
	& > header { background-color: #FF5C66; }
	#in-this-chapter * { color: #FF5C66; }
}

#in-this-chapter {
    position: relative;
    background-color: #fff;
    color: $accent;
    padding: 1.5rem;
    max-width: 500px;
    display: inline-block;
	margin-left: -1.5rem;
	margin-bottom: 1.5rem;
	ul {
		margin-bottom: 0;
    }
}

@media (min-width: 992px) {
	[id^="chapter-"] > header {
		position: relative;
		background-position: bottom right;
		background-size: 260px;
		background-repeat: no-repeat;
		&:after {
			content: "";
			display: block;
			width: 180px;
			height: 180px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.24);
			position: absolute;
			bottom: 40px;
			right: 80px;
		}
	}
	#chapter-1 > header { background-image: url(assets/images/chapters/chapter-1__bg.svg); }
	#chapter-2 > header { background-image: url(assets/images/chapters/chapter-2__bg.svg); }
	#chapter-3 > header { background-image: url(assets/images/chapters/chapter-3__bg.svg); }
	#chapter-4 > header { background-image: url(assets/images/chapters/chapter-4__bg.svg); }
	#chapter-5 > header { background-image: url(assets/images/chapters/chapter-5__bg.svg); }
	#chapter-6 > header { background-image: url(assets/images/chapters/chapter-6__bg.svg); }
	#chapter-7 > header { background-image: url(assets/images/chapters/chapter-7__bg.svg); }
	#chapter-8 > header { background-image: url(assets/images/chapters/chapter-8__bg.svg); }
	#chapter-9 > header { background-image: url(assets/images/chapters/chapter-9__bg.svg); }
	#chapter-10 > header { background-image: url(assets/images/chapters/chapter-10__bg.svg); }
	#chapter-11 > header { background-image: url(assets/images/chapters/chapter-11__bg.svg); }
}

@media (min-width: 601px) {
	[id^="chapter-"] {
		& > header {
			margin: -1.5rem;
			margin-bottom: 1.5rem;
			padding: 1.5rem;
			border-radius: 4px 4px 0 0;
			color: #fff;
		}
	}
}

@media (max-width: 600px) {
	[id^="chapter-"] {
		& > header {
			margin: -1rem;
			margin-bottom: 1.5rem;
			padding: 1rem;
		}
	}
}

@media only print {
	.md-app {
		position: relative;
	}
	#app-content-actions,
	.md-app-toolbar,
	.md-app-drawer {
		display: none;
	}
}