@import "figures/step-list-figure";
@import "figures/step-list-figure_shape_rounded";
@import "figures/questions-figure";
@import "figures/brands-figure";
@import "figures/formula";
@import "figures/extreme-aversion-figure";

.figure {
	margin: 0;
    margin-bottom: 1rem;
    .figure .figure__title {
        font-size: 1.125rem;
    }
}
.figure_style_primary {
	background-color: $primary;
	.figure__description {
		color: #fff;
	}
}
.figure__title {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #616161;
}
.figure__note,
.figure__source {
	display: block;
	font-style: normal;
	font-size: 12px;
	color: $primary;
	margin-top: 1rem;
}
.figure__source {
	text-align: right;
}
.figure__image {
	margin-bottom: 1rem;
}
.figure__description {
	font-size: 1.125rem;
	font-weight: normal;
	letter-spacing: 1px;
    text-align: center;
    color: #212121;
}

.figure__labels {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 0;
}
.figure__label {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-right: 1rem;
	margin-bottom: 1rem;
	font-size: 1.125rem;
	line-height: 1.25rem;
	text-overflow: ellipsis;
	letter-spacing: 1px;
}
.figure__label:last-child {
	margin-right: auto;
}
.figure__label-point {
	display: inline-block;
	line-height: 1.25;
	vertical-align: middle;
	min-width: 1.25rem;
	height: 1.25rem;
	margin-right: 1rem;
	border-radius: 50%;
}