@font-face {
	font-family: "Belbo-Book";
	src: url("assets/fonts/Belbo-Book.woff") format("woff");
}

@font-face {
	font-family: "TiemposHeadline-Black";
	src: url("assets/fonts/TiemposHeadline-Medium.otf") format("opentype");
}