@import "variables";
@import "fonts";

* {
	-webkit-overflow-scrolling: touch;
}
body {
	font-family: "Belbo-Book", sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5;
}
article {
	* {
		margin-top: 0;
		color: #535B5B;
	}
	h1 {
		font-family: "TiemposHeadline-Black", sans-serif;
		color: #212121;
	}
	h2 {
		font-size: 1.8rem;
		color: $primary;
	}
	h3 {
		font-size: 1.5rem;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .5rem;
		line-height: 1.25;
	}
	h3, h4, h5, h6 {
		font-weight: 500;
		color: $accent;
	}
	sup {
		font-size: .75rem;
	}
	address > dl {
		display: flex;
		justify-content: flex-end;
		font-style: normal;
		dt {
			color: #212121;
		}
		dd {
			margin-left: 12px;
		}
	}

	dt {
		font-weight: bold;
	}
	
	hr {
		border: none;
		border-top: 2px solid $primary;
		max-width: 60px;
	}
	.lead {
		font-family: "TiemposHeadline-Regular", sans-serif;
		font-size: 1.25rem;
	}
}

#introduction {
	text-align: center;
}

@media (min-width: 992px) {
	article {
		h1 {
			font-size: 2.5rem;
			text-align: center;
		}
		.lead {
			font-size: 1.5rem;
			line-height: 1.4;
		}
	}
	[columns="2"] { columns: 2; }
}