@import "variables";

.md-app-content.md-content.md-theme-default {
    height: initial;
}

.md-app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.md-drawer {
    width: 280px;
    min-width: 280px;
    max-width: calc(100vw - 125px);
}

.md-dialog,
.md-card,
.md-button:not(.md-stepper-header) {
    border-radius: 4px;
}

.md-speed-dial {
    z-index: 99;
}

.md-stepper-number {
	min-width: 24px;
}
.md-stepper-text {
	white-space: normal;
	font-size: 1rem;
	line-height: 1.25;
}
.md-steppers.md-vertical .md-stepper-header {
	height: 72px;
}
.md-steppers.md-vertical .md-stepper:after {
    bottom: -16px;    
    top: 56px;
}

.md-steppers.md-vertical .md-stepper-content.md-active {
    padding: 0;
}

form .md-title {
  text-align: center;
  color: $accent;
  font-weight: bold;
}