.brands-figure {
	margin: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	img {
		margin-bottom: 0;
	}
}
.brands-figure__link {
	margin: 0 .5rem .5rem;
    width: 65px;
}

@media (min-width: 600px) {
	.brands-figure__link {
		width: 110px;
		margin: 0 1rem 1rem;
	}
}